/* Add these styles to cover the screen */
html, body {
  height: 100%;
  margin: 0;
}

.mclothes-screen {
  padding: 2rem;
  padding-top: 30px;
}

.mclothes-container {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.mclothing-card {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out; /* Add smooth transform transition */
  cursor: pointer;
  height: 300px; /* Set a fixed height for the clothing card */
  overflow: hidden; /* Hide any content that overflows the card */
}

.mclothing-title a,
.mclothing-description a {
  text-decoration: none;
}
.mclothing-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.mclothing-image {
  width: 100%;
  height: 70%; /* Set the height of the image to two-thirds of the card */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Rounded corners only for the top of the image */
}

.mclothing-details {
  padding: 10px;
}

.mclothing-title {
  font-size: 20px;
  margin: 10px 0;
  color: black;
}

.mclothing-description {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(91, 90, 90);
}

.mclothing-price {
  font-size: 10px;
  font-weight: bold;
  color: black;
}

